@import '../../../../assets/scss/colors';

header {
  width: 100%;
  height: 80px;
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  // add important only this section 
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  figure {
    width: 70px;
    height: 70px;
    border-radius: 16px;
    overflow: hidden;
    margin-left: 16px;
    position: relative;
    img {
      width: 100%;
    }
  }

}
.btn-action {
  background-color: $primary;
  color: $light;
  position: absolute;
  z-index: 1;
}

.btn-image {
  bottom: 0px;
  right: 0px;
}

.btn-banner {
  bottom: 20px;
  right: 50px;
}

.btn-logout {
  top: 20px;
  right: 50px;
}


@media only screen and (min-width: 411px) {
  header {
    height: 150px;
    border-end-end-radius: 40px;
    border-end-start-radius: 40px;
    figure {
      margin-left: 18px;
      width: 100px;
      height: 100px;
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    height: 200px;
    border-end-end-radius: 60px;
    border-end-start-radius: 60px;
    figure {
      margin-left: 24px;
      width: 150px;
      height: 150px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  header {
    height: 250px;
    border-end-end-radius: 80px;
    border-end-start-radius: 80px;
    figure {
      width: 180px;
      height: 180px;
      margin-left: 55px;
    }
  }
}