@import '../../../../../assets/scss/colors.scss';

.title {
  text-align: center;
  font-size: 1rem; //16px
}

.description {
  text-align: justify;
  font-size: 0.875rem; //14px
}

.input-data {
  padding: 6px;
  border-radius: 4px;
  background-color: $bg;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  min-height: 150px;
  font-size: 0.875rem;
  resize: none;
}

a {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem; //16px
}

a:active {
  color: rgb(81, 159, 211);
  font-size: 1.125rem; //18px
}



@media only screen and (min-width: 411px) {}

@media only screen and (min-width: 770px) {
  .title, 
  .input-data {
    font-size: 1.125rem; //18px
    text-align: start;
  }

  .description textarea {
    font-size: 1rem; //16px
  }

  a {
    font-size: 1.125rem; //18px
  }

  a:hover {
    color: #519fd3;
    font-size: 1.25rem; //20px
  }

  a:active {
    color: #519fd3;
    font-size: 1.25rem; //20px
  }
}

@media only screen and (min-width: 1024px) {
  .title {
    text-align: left;
  }
}

@media only screen and (min-width: 1441px) {
  .title .input-data {
    font-size: 1.25rem; //20px
  }

  .description {
    font-size: 1.125rem; //18px
  }

  a {
    font-size: 1.25rem; //20px
  }

  a:hover {
    color: #519fd3;
    font-size: 1.375rem; //22px
  }

}
