<div class="card" [formGroup]="productForm">
  <div class="card-image">
    <figure class="image is-4by3 ">
      <img [src]="data.image || 'https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80'" alt="Placeholder image">
    </figure>
  </div>
  <button mat-icon-button class="btn-container-r">
    <mat-icon
      class="material-icons-outline icon-cloud"
      aria-label="subir imagen icon"
      >cloud_upload</mat-icon
    >
    <input
      type="file"
      class="input-hidden"
      accept="image/png, image/gif, image/jpeg, image/jpg"
      (change)="uploadFile($event)"
    />
  </button>
  <mat-progress-bar *ngIf="statusUpload" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p 
          role="button"
          *ngIf="!isTitle" 
          class="title is-4"
          (click)="setIsHiden('title')"
          >{{data.title || 'No Configurado'}}</p>
        <input 
          *ngIf="isTitle" 
          class="input-data" 
          type="text" 
          formControlName="title"
          maxlength="25"
          (focusout)="editProduct('title')"
          autofocus
          >
        <p
          role="button"
          *ngIf="!isSubtitle" 
          class="subtitle is-6"
          (click)="setIsHiden('subTitle')"
          >{{data.subtitle || 'No Configurado'}}
        </p>
        <textarea
          *ngIf="isSubtitle" 
          class="input-data" 
          type="text" 
          maxlength="130"
          formControlName="subtitle"
          (focusout)="editProduct('subTitle')"
          autofocus
          >
        </textarea>
      </div>
    </div>
    <div class="card-action">
      <strong
        role="button"
        *ngIf="!isPrice" 
        class="price"
        (click)="setIsHiden('price')"
        >{{data.price || '56' | currency: ' Bs. '}}</strong>
      <input 
        *ngIf="isPrice" 
        class="input-data input-price" 
        type="number" 
        formControlName="price"
        (focusout)="editProduct('price')"
        autofocus
        >
      <span class="spacer"></span>
      <a 
        target="_blank"
        [href]="'https://api.whatsapp.com/send?phone=59170350792&text=Saludos cordiales, estoy interesado en el producto: ' + data.title + '%0AImagen: ' + data.image"
        class="btn-action"
        mat-raised-button
      >Comprar</a>
      <button color="warn" mat-icon-button (click)="deleteProduct()">
        <mat-icon class="material-icons-outlined" aria-label="label">delete</mat-icon>
      </button>
    </div>
  </div>
</div>