
.login-container {
  background-image: url('/assets/images/login-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
}

.auntentication-form {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  &__header-container{
    margin-bottom: 15px;
  }
}
.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem; //20px
  line-height: 44px;
  letter-spacing: 0.32em;
  color: #000000;
  margin: 0;
  text-align: start;
}
.subtitle {
  text-align: start;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem; //14px
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #000000;
  // margin: 0;
}
.input-data {
  border-radius: 8px;
  background-size: cover;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 21px;
  letter-spacing: 0.12em;
  text-transform: lowercase;
  color: #101B23;
  font-style: normal;
}
.error-message {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem; //16px
  line-height: 21px;
  letter-spacing: 0.12em;
  color: #AC0B4C;
}
.login-button {
  background-color: #E0D83F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 0px 9px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: #fff;
  margin-top: 15px;
  &icon{
      margin-right: 5px;
  }
}
.label-input{
  text-align: start;
  // font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: capitalize;
  color: #000000;
}
.gif{
  display: none;
}


@media only screen and (min-width: 411px) {
  
}

@media only screen and (min-width: 770px) {
  .title{
    font-size: 1.563rem;
  }
  .subtitle,
  .error-message{
    font-size: 1.125rem;
  }
  .login-container{
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .gif{
    display: block;
    height: 196px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .gif img{
    width: 276px;
    margin: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .title{
    font-size: 1.875rem;
  }
  .subtitle,
  .error-message{
    font-size: 1.375rem;
  }
}