<section class="login-container columns is-multiline">
  <figure class="column is-12 gif">
    <img src="/assets/images/login-gif.gif" alt="">
  </figure>
<form class="auntentication-form column is-9-mobile is-5-tablet" [formGroup]="loginForm" (ngSubmit)="login()">
  
  <div class="auntentication-form__header-container">
      <h1 class="title">INICIAR SESIÓN</h1>
      <span class="subtitle">Ingresa tus credenciales de administrador para poder gestionar la información del sistema</span>
  </div>

  <mat-label class="label-input">Correo Electronico:</mat-label>
  <mat-form-field appearance="fill">
    <input class="input-data" matInput placeholder="Ingrese su email" type="email" formControlName="email" />    
  </mat-form-field>

  <mat-label class="label-input">Contraseña</mat-label>
  <mat-form-field appearance="fill" >
    <input class="input-data" [type]="hide ? 'password' : 'text'" placeholder="Ingese su password" type="password" matInput formControlName="password" />
    <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon  style="color: #E0D83F">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </a>
  </mat-form-field>
      <!-- MENSAJES DE ERROR -->
  <div *ngIf="emailUser.invalid && (emailUser.dirty || emailUser.touched)" style="margin-bottom: 10px;">
    <small class="error-message" *ngIf="emailUser.errors.required">El email es requerido</small>
    <small class="error-message" *ngIf="emailUser.errors.minlength">Ingrese como minimo 4 caracteres</small>
    <small class="error-message" *ngIf="emailUser.errors.maxlength">Ingrese como maximo 15 caracteres</small>
    <small class="error-message" *ngIf="emailUser.errors.email">Ingrese un email valido</small>
  </div>
  <div *ngIf="passwordUser.invalid && (passwordUser.dirty || passwordUser.touched)" style="margin-bottom: 10px;">
    <small class="error-message" *ngIf="passwordUser.errors.required">El password es requerido</small>
    <small class="error-message" *ngIf="passwordUser.errors.minlength">Ingrese como minimo 4 caracteres</small>
    <small class="error-message" *ngIf="passwordUser.errors.maxlength">Ingrese como maximo 15 caracteres</small>
  </div>
  

  <button class="login-button" [disabled]="loginForm.invalid" mat-raised-button type="submit">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">login</mat-icon>
    Ingresar
  </button>
  <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
</form>

</section>
