<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>

<section *ngIf="data" class="columns main-container is-multiline" [formGroup]="formHomeData">

  <section class="
      column
      is-11-mobile is-11-tablet is-4-desktop is-5-widescreen
      main-section__information"
  >
    <p 
      role="button"
      *ngIf="!isDescription"
      class="main-section__description"
      (click)="setIsHiden('description')"
    >
      {{data.description}}
    </p>
    <textarea 
      formControlName="description"
      *ngIf="isDescription"
      class="input-data text-area"
      type="text"
      (focusout)="editDescriptionHome('description')"
      autofocus
      class=""
    >
    
    </textarea>
    
  </section>
  
  <section class="column is-12-mobile is-12-tablet is-7-desktop main-section-media is-6-widescreen">
    <video controls preload="auto" class="main-section-media__video">
      <source [src]='data.video'>
    </video>
  </section>

</section>
