<section id="contacts" class="tile is-child notification is-info">
<h1 class="title">Contacto</h1>
<dl class="content has-text-left">
  <dt>
    <mat-icon aria-hidden="false" aria-label="Example home icon">location_on</mat-icon> Direccion
  </dt>
  <dt>
    <mat-icon aria-hidden="false" aria-label="Example home icon">whatsapp</mat-icon> Telefono
  </dt>
  <dt>
    <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon> Correo
  </dt>
</dl>
</section>
