$mat-theme-ignore-duplication-warnings: true;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

$ovi-typography: mat-typography-config(
  $font-family: Montserrat,
);
@include mat-core($ovi-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ovi-primary: mat-palette($mat-light-blue, 900, A100, A400);
$ovi-accent: mat-palette($mat-yellow, A200);
$ovi-warn: mat-palette($mat-red, A100);


// The warn palette is optional (defaults to red).

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ovi-theme: mat-light-theme(
  (
    color: (
      primary: $ovi-primary,
      accent: $ovi-accent,
      warn: $ovi-warn,
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ovi-theme);
