<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
<main class="container">
  <mat-toolbar class="toolbar">
    <span>Lista de Productos</span>
    <span class="spacer"></span>
    <button class="btn-action" mat-icon-button (click)="addProduct()">
      <mat-icon aria-label="label">add</mat-icon>
    </button>
  </mat-toolbar>
  <br>
  <section class="columns is-multiline">
    <div class="column is-12-mobile is-6-tablet is-4-desktop is-3-fullhd product-column" *ngFor="let product of products">
      <app-product [data]="product"></app-product>
    </div>
  </section>
</main>