@import '../../../../../assets/scss/colors.scss';

.container {
  margin-top: 20px;
}

.spacer {
  flex: 1 auto;
}

.toolbar {
  background-color: #ffffff;
  border-bottom: 1px solid $primary;
}

.btn-action {
  color: $primary;
}

// .product-column {
//   display: flex;
//   justify-content: center;
// }