@import '../../../../../assets/scss/colors.scss';

#contacts {
  border-radius: 1.563rem; //25px
  background-image: radial-gradient(circle at 10.3% 39.36%, #00c7f1 0, #23b1d8 25%, #319bbe 50%, #3785a4 75%, #38728b 100%);
}
// asdsd
.input-data{
  padding: 6px;
  border-radius: 4px;
  background-color: $bg;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
}
.text-area{
  width: 100%;
  min-height: 300px;
  font-size: 0.875rem;
  resize: none;
}
// sdadasd
mat-toolbar {
  background-color: #ffffff;
}

.spacer {
  flex: 1 auto;
}

article {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 20px;
}

@media only screen and (min-width: 411px) {
  h1 {
    font-size: 1.125rem; //18px
  }

  p {
    font-size: 0.875rem; //14px
  }

  article {
   max-height: 300px;
 }
}

@media only screen and (min-width: 768px) {

  h1 {
    font-size: 1.25rem; //20px
  }

  p {
    font-size: 1rem; //16px
  }

  article {
    max-height: 400px;
  }
}

@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 1.5rem; //24px
  }

  p {
    font-size: 1rem; //16px
  }

  article {
    max-height: 75vh;
  }

  article::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    /*display: none;   Ocultar scroll */
  }

  /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
  article::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  article::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Cambiamos el fondo cuando esté en active */
  article::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  /* Ponemos un color de fondo y redondeamos las esquinas del track */
  article::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }

  /* Cambiamos el fondo cuando esté en active o hover */
  article::-webkit-scrollbar-track:hover,
  article::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
}
