<main class="container py-5">
   <mat-toolbar class="mat-elevation-z0">
      <span>Historia</span>
      <span class="spacer"></span>
      <button mat-icon-button>
         <mat-icon aria-label="cerrar cuadro" matDialogClose>close</mat-icon>
      </button>
   </mat-toolbar>
  <section class="columns is-desktop"  [formGroup]="formAboutDetail">
    <article class="column is-6-desktop is-12-tablet is-12-mobile mx-1">
     
      <p
        role="button"
        *ngIf="!isDescription"
        class="description"
        (click)="setIsHiden('description')"
      >
      {{aboutUsDetailData.description || 'No configurado'}} 
      </p>

      <textarea
        formControlName="description"
        *ngIf="isDescription"
        class="text-area input-data"
        type="text"
        (focusout)="editAboutUsDetail('description')"
        autofocus
      ></textarea>
    </article>
    <section class="column is-6-desktop is-12-tablet">
      <div class="columns  is-multiline">
        <figure class="column is-12-desktop is-6-tablet is-12-mobile">
          <img
            [src]="urlImg"
            alt="imagen de carga">
        </figure>
        <div class="column is-12-desktop is-6-tablet is-12-mobile">
          <app-contact-small></app-contact-small>
        </div>
      </div>
    </section>
  </section>
</main>
