<main class="container">
  <mat-toolbar class="toolbar">
    <span>Lista de Archivos Informativos</span>
    <span class="spacer"></span>
    <button class="btn-action" mat-icon-button (click)="addDocument()">
      <mat-icon aria-label="label">add</mat-icon>
    </button>
  </mat-toolbar>
  <br>
  <section class="columns is-multiline">
    <div class="column is-12-mobile is-6-tablet is-4-desktop is-3-fullhd product-column" *ngFor="let file of files">
      <app-download [data]="file"></app-download> 
    </div>
  </section>
</main>
