
<!-- 

  <section class="column is-12-mobile is-6-tablet is-4-desktop is-offset-3-tablet is-offset-0-desktop">
   
  </section> -->
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
  <section>
    <div class="columns is-multiline" style="padding: 50px;">
      <div class="column is-12-mobile is-6-tablet is-4-desktop" style="align-items: center; justify-content: center;" *ngFor="let item of aboutUsData index as i">
        <app-container-about [item]="item" [index]="i" (evenEmiiter)="getAboutUs()"></app-container-about>
      </div>
    </div>
  </section>
