<app-header></app-header>

<nav mat-tab-nav-bar mat-stretch-tabs>
  <a mat-tab-link *ngFor="let link of links; index as i"
     (click)="changeLink(link, i)"
     [active]="activeLink == link"
     [routerLink]="link.rooterLink" 
     > {{link.name}} 
    </a>
</nav>
<router-outlet></router-outlet>