@import '../../../../../assets/scss/colors.scss';

.card {
  width: 100%;
  height: 550px;
  // background-color: red;
  overflow-y: hidden;

  .card-image {
    height: 250px;
    overflow: hidden;
    figure {
      max-height: 250px;
      img {
        max-height: 250px;
      }
    }
  }

  .card-content {
    width: 100%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.card-container {
  color: $dark;
  width: 100%;
}

.price {
  color: $second;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  min-height: 85px;
}

.card-action {
  width: 100%;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 auto;
}

.btn-action {
  border-radius: 30px;
  background-color: $primary;
  color: $dark;
}

.card:hover {
  box-shadow: 0px 30px 60px rgba(178, 178, 178,0.50);
  transition: 0.3s;
}

.input-data {
  padding: 6px;
  border-radius: 4px;
  background-color: $bg;
}

/*Cloud btn*/
.btn-container-r{
  position: relative;
  float: right;
}

.input-hidden{
  opacity: 0;
  cursor: pointer !important;
  position: absolute; /* don't let it take up space */
  width: 30px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-cloud{
  position: relative;
  font-size: 2rem;
  width: 32px;
  height: 32px;
  color: $primary;
}

.btn-container-r:hover {
  cursor: pointer;
  transition: 0.3s;
}

.title {
  width: 100%;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  height: 85px;
}

.input-price {
  width: 100px;
}

.document {
  width: 100%;
  height: 100%;
}

// @media (min-width: 1024px) {
//   .card {
//     // max-width: 100%;
//     // min-width: 234px;
//   }
// }

// @media (min-width: 1440px) {
//   .card {
//     // max-width: 100%;
//     // min-width: 320px;
//   }
// }